.buttons
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   
    div
    {
        margin: 15px 15px 10px 15px;
        font-weight: lighter;
        font-size:18px;
        padding:8px;
        
    }
    div:hover
    {
        cursor: pointer;
        color: rgb(235, 215, 69);
        font-weight: bold;
        // border-style:solid;
        // border-color: rgb(255, 255, 255);
        // border-width: 1px;
    }
}
